<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olá Mundo</title>
</head>
<body>

    <h1>{{ empresa }}</h1>

    <h3>{{ recado }}</h3>

    <table border="1">
    <tr>
        <th>Produto</th>
        <th>Preço</th>
        <th>Unidade</th>
    </tr>
    {% for produto in produtos %}
    <tr>
        <td> {{ produto.descricao }} </td>
        <td> {{ produto.preco }} </td>
        <td> {{ produto.unidade }}</td>
    </tr>
    {% endfor %}
    </table>

</body>
</html>